<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/personas'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="logo mb-24 mb-md-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        group
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                          *ngIf="pageType === 'edit'" fxHide fxShow.gt-sm>
                        {{persona.nombre}}
                    </span>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                          *ngIf="pageType === 'new'" fxHide fxShow.gt-sm>
                        Nueva persona
                    </span>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="personaForm?.invalid"
                    *ngIf="pageType ==='new'" (click)="addPersona()">
                <span>AGREGAR</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="personaForm?.invalid || personaForm?.pristine"
                    *ngIf="pageType ==='edit'" (click)="savePersona()">
                <span>GRABAR</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content" *ngIf="personaForm">

                <form name="personaForm" [formGroup]="personaForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <input name="idPersona" formControlName="idPersona" type="hidden">
                            <div class="tab-content p-24">
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput placeholder="Nombre"
                                               name="nombre"
                                               formControlName="nombre"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>apellido</mat-label>
                                        <input matInput placeholder="apellido"
                                               name="apellido"
                                               formControlName="apellido"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>tipoDocumento</mat-label>
                                        <input matInput placeholder="tipoDocumento"
                                               name="tipoDocumento"
                                               formControlName="tipoDocumento"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>idDocumento</mat-label>
                                        <input matInput placeholder="idDocumento"
                                               name="idDocumento"
                                               formControlName="idDocumento"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Estado</mat-label>
                                        <input matInput placeholder="estado"
                                               name="estado"
                                               formControlName="estado"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>ciudadResidencia</mat-label>
                                        <input matInput placeholder="ciudadResidencia"
                                               name="ciudadResidencia"
                                               formControlName="ciudadResidencia"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>provinciaResidencia</mat-label>
                                        <input matInput placeholder="provinciaResidencia"
                                               name="provinciaResidencia"
                                               formControlName="provinciaResidencia"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>paisOrigen</mat-label>
                                        <input matInput placeholder="paisOrigen"
                                               name="paisOrigen"
                                               formControlName="paisOrigen"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>telefono</mat-label>
                                        <input matInput placeholder="telefono"
                                               name="telefono"
                                               formControlName="telefono"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>email</mat-label>
                                        <input matInput placeholder="email"
                                               name="email"
                                               formControlName="email"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>nivelEstudios</mat-label>
                                        <input matInput placeholder="nivelEstudios"
                                               name="nivelEstudios"
                                               formControlName="nivelEstudios"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>carrera</mat-label>
                                        <input matInput placeholder="carrera"
                                               name="carrera"
                                               formControlName="carrera"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>universidad</mat-label>
                                        <input matInput placeholder="universidad"
                                               name="universidad"
                                               formControlName="universidad"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>ocupacion</mat-label>
                                        <input matInput placeholder="ocupacion"
                                               name="ocupacion"
                                               formControlName="ocupacion"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>comentarios</mat-label>
                                        <input matInput placeholder="comentarios"
                                               name="comentarios"
                                               formControlName="comentarios"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>dieta</mat-label>
                                        <input matInput placeholder="dieta"
                                               name="dieta"
                                               formControlName="dieta"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <input matInput [matDatepicker]="fechaNacimiento" name="fechaNacimiento"
                                               formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento">
                                        <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaNacimiento></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>descripcion Origen Contacto</mat-label>
                                        <input matInput placeholder="descripcion"
                                               name="descripcion"
                                               formControlName="descripcion"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>empresa Obra social</mat-label>
                                        <input matInput placeholder="empresa"
                                               name="empresa"
                                               formControlName="empresa"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>plan</mat-label>
                                        <input matInput placeholder="plan"
                                               name="plan"
                                               formControlName="plan"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>grupoSanguineo</mat-label>
                                        <input matInput placeholder="grupoSanguineo"
                                               name="grupoSanguineo"
                                               formControlName="grupoSanguineo"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>emfermedades</mat-label>
                                        <input matInput placeholder="emfermedades"
                                               name="emfermedades"
                                               formControlName="emfermedades"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>medicaciones</mat-label>
                                        <input matInput placeholder="medicaciones"
                                               name="medicaciones"
                                               formControlName="medicaciones"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>nombre Contacto Emergencia</mat-label>
                                        <input matInput placeholder="nombreContacto"
                                               name="nombreContacto"
                                               formControlName="nombreContacto"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>apellido Contacto Emergencia</mat-label>
                                        <input matInput placeholder="apellidoContacto"
                                               name="apellidoContacto"
                                               formControlName="apellidoContacto"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>telefono Contacto</mat-label>
                                        <input matInput placeholder="telefonoContacto"
                                               name="telefonoContacto"
                                               formControlName="telefonoContacto"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>relacion</mat-label>
                                        <input matInput placeholder="relacion"
                                               name="relacion"
                                               formControlName="relacion"
                                               required>
                                    </mat-form-field>
                                </div>
                            </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
