<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/personas'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="logo mb-24 mb-md-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        group
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                          *ngIf="pageType === 'edit'" fxHide fxShow.gt-sm>
                        {{persona.nombre}}
                    </span>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                          *ngIf="pageType === 'new'" fxHide fxShow.gt-sm>
                        Nueva persona
                    </span>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="personaForm?.invalid"
                    *ngIf="pageType ==='new'" (click)="addPersona()">
                <span>AGREGAR</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="personaForm?.invalid || personaForm?.pristine"
                    *ngIf="pageType ==='edit'" (click)="savePersona()">
                <span>GRABAR</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content" *ngIf="personaForm">

                <form name="personaForm" [formGroup]="personaForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <input name="idPersona" formControlName="idPersona" type="hidden">
                    <mat-tab-group>
                        <mat-tab label="Datos Personales">
                            <div class="tab-content p-24">
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput placeholder="Nombre"
                                               name="nombre"
                                               formControlName="nombre"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Apellido</mat-label>
                                        <input matInput placeholder="Apellido"
                                               name="apellido"
                                               formControlName="apellido"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Tipo Documento</mat-label>
                                        <mat-select formControlName="tipoDocumento" required>
                                            <mat-option *ngFor="let tipoDoc of tiposDoc" [value]="tipoDoc">
                                                {{tipoDoc}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Documento</mat-label>
                                        <input matInput placeholder="Documento"
                                               name="idDocumento"
                                               formControlName="idDocumento"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Fecha de Nacimiento</mat-label>
                                        <input matInput [matDatepicker]="fechaNacimiento" name="fechaNacimiento"
                                               formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento" required>
                                        <mat-datepicker-toggle matSuffix
                                                               [for]="fechaNacimiento"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaNacimiento></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Nacionalidad</mat-label>
                                        <input matInput placeholder="Nacionalidad"
                                               name="paisOrigen"
                                               formControlName="paisOrigen"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Dieta</mat-label>
                                        <input matInput placeholder="Dieta"
                                               name="dieta"
                                               formControlName="dieta"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>¿Cómo te enteraste de ISF Argentina? </mat-label>
                                        <mat-select formControlName="idOrigenContacto" required>
                                            <mat-option *ngFor="let oContacto of origenContacto" [value]="oContacto.idOrigenContacto">
                                                {{oContacto.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Comentarios</mat-label>
                                        <input matInput placeholder="Comentarios"
                                               name="comentarios"
                                               formControlName="comentarios" >
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="estado" required>
                                            <mat-option *ngFor="let estado of estados" [value]="estado">
                                                {{estado}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Datos de Contacto">
                            <div class="tab-content p-24">
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Direccion</mat-label>
                                        <input matInput placeholder="Direccion"
                                               name="direccionResidencia"
                                               formControlName="direccionResidencia"
                                               #search
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Telefono</mat-label>
                                        <input matInput placeholder="Telefono"
                                               name="telefono"
                                               formControlName="telefono"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email"
                                               name="email"
                                               formControlName="email"
                                               type="email"
                                               email="true"
                                               required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Ocupación">
                            <div class="tab-content p-24">
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Nivel Estudios</mat-label>
                                        <input matInput placeholder="Nivel Estudios"
                                               name="nivelEstudios"
                                               formControlName="nivelEstudios"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Carrera</mat-label>
                                        <input matInput placeholder="Carrera"
                                               name="carrera"
                                               formControlName="carrera"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Institución</mat-label>
                                        <input matInput placeholder="Institución"
                                               name="universidad"
                                               formControlName="universidad"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Ocupacion</mat-label>
                                        <input matInput placeholder="Ocupacion"
                                               name="ocupacion"
                                               formControlName="ocupacion"
                                               required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Datos del Seguro">
                            <div class="tab-content p-24">
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Obra Social</mat-label>
                                        <mat-select formControlName="idObraSocial" required>
                                            <mat-option *ngFor="let oSocial of obrasSociales" [value]="oSocial.idObraSocial">
                                                {{oSocial.empresa}} - {{oSocial.plan}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Grupo Sanguineo</mat-label>
                                        <input matInput placeholder="Grupo Sanguineo"
                                               name="grupoSanguineo"
                                               formControlName="grupoSanguineo"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Emfermedades</mat-label>
                                        <input matInput placeholder="Emfermedades"
                                               name="emfermedades"
                                               formControlName="emfermedades"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Medicaciones</mat-label>
                                        <input matInput placeholder="Medicaciones"
                                               name="medicaciones"
                                               formControlName="medicaciones"
                                               required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Datos de Contacto Emergencia">
                            <div class="tab-content p-24">
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput placeholder="Nombre"
                                               name="nombreContacto"
                                               formControlName="nombreContacto"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Apellido</mat-label>
                                        <input matInput placeholder="Apellido"
                                               name="apellidoContacto"
                                               formControlName="apellidoContacto"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Telefono</mat-label>
                                        <input matInput placeholder="Telefono"
                                               name="telefonoContacto"
                                               formControlName="telefonoContacto"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Relacion</mat-label>
                                        <input matInput placeholder="Relacion"
                                               name="relacion"
                                               formControlName="relacion"
                                               required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
