<div>
    <mat-card-content>
        <div mat-dialog-content>
            <div style="text-align:right;margin-bottom: 34px;">
                <mat-icon (click)="onCloseCancel()" style="cursor: pointer;color: #AEAEAE;">cancel</mat-icon>
            </div>
            <form class="w-100-p">
                <div fxLayout="column" class="tituloModal1" fxLayoutAlign="space-around center">

                    <mat-form-field class="w-100-p">
                        <mat-label>{{datos.label}}</mat-label>
                        <input type="text" [placeholder]="datos.label" aria-label="Assignee" matInput
                               [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option.nombre || option.Persona.nombre}} {{option.apellido || option.Persona.apellido}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                </div>
            </form>
            <div fxLayout="row" style="margin-top: 8%" fxLayoutAlign="space-around center">
                <button class="btnConfirmar" mat-button (click)="ConfirmarAccion()"
                        cdkFocusInitial>{{datos.txtBoton}}</button>
            </div>
        </div>
    </mat-card-content>
</div>
