.icono
{
    text-align:center;
}
.listo
{
    font-size:30px;
    text-align:center;
}
.mensaje2
{
    font-size:14px;
    text-align:center;
}

.btnConfirmar {
  height: 40px;
  width: 180px;
  border-radius: 4px;
  text-align: center;
  background-color: #004853;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03px;
  line-height: 16px;
  cursor: pointer;
}

.volver {
  margin-top: 18px;
  color: #AEAEAE;
  font-size: 14px;
  letter-spacing: -0.03px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

.tituloModal1 {
  height: 25px;
  color: #383636;
  font-size: 22px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
}
.tituloModal1 strong{
  font-weight: 500;
}

.tituloModal2 {
  margin-top: 3%;
  height: 21px;
  color: #383636;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.11px;
  line-height: 21px;
  text-align: center;
}
