<div id="users" class="page-layout carded fullwidth inner-scroll">


    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    account_circle
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Actividades
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Busqueda">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/actividades/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <span>AGREGAR ACTIVIDAD</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>
                <ng-container matColumnDef="direccion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>direccion</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-xs
                              [routerLink]="'/actividades/'+ actividad.token">
                        <p class="text-truncate">{{actividad.direccion}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-xs
                              [routerLink]="'/actividades/'+ actividad.token">
                        <p class="text-truncate">{{actividad.nombre}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ciudad">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</mat-header-cell>
                    <mat-cell *matCellDef="let user"
                              [routerLink]="'/actividades/'+ actividad.token">
                        <p class="text-truncate">{{actividad.ciudad}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="accion" stickyEnd>
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <button mat-button (click)="remove(user.token)" [matTooltip]="'Eliminar actividad'">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let user; columns: displayedColumns;"
                         class="product" matRipple>
                </mat-row>
            </mat-table>
            <mat-paginator #paginator
                           [length]="dataSource?.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->

</div>
