<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/equipos'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="logo mb-24 mb-md-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        group
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                          *ngIf="pageType === 'edit'" fxHide fxShow.gt-sm>
                        {{equipo.nombre}}
                    </span>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                          *ngIf="pageType === 'new'" fxHide fxShow.gt-sm>
                        Nuevo equipo
                    </span>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayout="column" fxLayoutGap="10px">
                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="equipoForm?.invalid"
                        *ngIf="pageType ==='new'" (click)="addEquipo()">
                    <span>AGREGAR</span>
                </button>

                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="equipoForm?.invalid || equipoForm?.pristine"
                        *ngIf="pageType ==='edit' && tabGroup?.selectedIndex == 0" (click)="saveEquipo()">
                    <span>GRABAR</span>
                </button>

                <button mat-raised-button (click)="sendEmail()" *ngIf="pageType ==='edit'"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <span>EMAIL EQUIPO</span>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content" *ngIf="equipoForm">

                <form name="equipoForm" [formGroup]="equipoForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <input name="idEquipo" formControlName="idEquipo" type="hidden">
                    <mat-tab-group #tabGroup>
                        <mat-tab label="Equipo">
                            <div class="tab-content p-24">

                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput placeholder="Nombre"
                                               name="nombre"
                                               formControlName="nombre"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Descripcion</mat-label>
                                        <input matInput placeholder="descripcion"
                                               name="descripcion"
                                               formControlName="descripcion"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Estado</mat-label>
                                        <input matInput placeholder="estado"
                                               name="estado"
                                               formControlName="estado"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Direccion</mat-label>
                                        <input matInput placeholder="Direccion"
                                               name="direccion"
                                               formControlName="direccion"
                                               #search
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Categoria</mat-label>
                                        <input matInput placeholder="categoria"
                                               name="categoria"
                                               formControlName="categoria"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <input matInput [matDatepicker]="fechaInicio" name="fechaInicio"
                                               formControlName="fechaInicio" placeholder="Fecha de inicio">
                                        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaInicio></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <input matInput [matDatepicker]="fechaFin" name="fechaFin"
                                               formControlName="fechaFin"
                                               placeholder="Fecha de fin">
                                        <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaFin></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Coordinadores" [disabled]="equipo.idEquipo === null">
                            <div class="tab-content p-24">
                                <button mat-fab class="add-event-button mat-accent" (click)="addCoordinador()"
                                        aria-label="Agregar Coordinador"
                                        [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <mat-table class="products-table"
                                           #table [dataSource]="dataSource"
                                           [@animateStagger]="{value:'50'}"
                                           fusePerfectScrollbar>
                                    <ng-container matColumnDef="nombre">
                                        <mat-header-cell *matHeaderCellDef>
                                            Nombre
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let coordinador">
                                            <p class="text-truncate">{{coordinador.nombre || coordinador.Persona.nombre}}</p>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="apellido">
                                        <mat-header-cell *matHeaderCellDef>
                                            Apellido
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let coordinador">
                                            <p class="text-truncate">{{coordinador.apellido || coordinador.Persona.apellido}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row
                                        *matHeaderRowDef="displayedColumnsCoordinador; sticky:true"></mat-header-row>
                                    <mat-row *matRowDef="let coordinador; columns: displayedColumnsCoordinador;"
                                             class="product" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Voluntarios" [disabled]="equipo.idEquipo === null">
                            <div class="tab-content p-24">
                                <button mat-fab class="add-event-button mat-accent" (click)="addVoluntario()"
                                        aria-label="Agregar Voluntario"
                                        [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <mat-table class="products-table"
                                           #table [dataSource]="dataPersonas"
                                           [@animateStagger]="{value:'30'}"
                                           fusePerfectScrollbar>
                                    <ng-container matColumnDef="nombre">
                                        <mat-header-cell *matHeaderCellDef>
                                            Nombre
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let voluntario">
                                            <p class="text-truncate">{{voluntario.nombre || voluntario.Persona.nombre}}</p>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="apellido">
                                        <mat-header-cell *matHeaderCellDef>
                                            Apellido
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let voluntario">
                                            <p class="text-truncate">{{voluntario.apellido || voluntario.Persona.apellido}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row
                                        *matHeaderRowDef="displayedColumnsVoluntario; sticky:true"></mat-header-row>
                                    <mat-row *matRowDef="let voluntario; columns: displayedColumnsVoluntario;"
                                             class="product" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Jornadas" [disabled]="equipo.idEquipo === null">
                            <div class="tab-content p-24">
                                <button mat-fab class="add-event-button mat-accent" (click)="addJornada()"
                                        aria-label="Agregar Jornada"
                                        [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <mat-table class="products-table"
                                           #table [dataSource]="dataJornadas"
                                           [@animateStagger]="{value:'50'}"
                                           fusePerfectScrollbar>
                                    <ng-container matColumnDef="fecha">
                                        <mat-header-cell *matHeaderCellDef>
                                            Fecha
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let jornada">
                                            <p class="text-truncate">{{jornada.fecha | date : 'dd/MM/yyyy'}}</p>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="descripcion">
                                        <mat-header-cell *matHeaderCellDef>
                                            Descripcion
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let jornada">
                                            <p class="text-truncate">{{jornada.descripcion}}</p>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="accion">
                                        <mat-header-cell *matHeaderCellDef>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let jornada;">
                                            <button mat-button [routerLink]="'/equipos/jornada/' +jornada.idJornadas"
                                                    [matTooltip]="'Ver Jornada'">
                                                <mat-icon>pageview</mat-icon>
                                            </button>
                                            <button mat-button (click)="sendEmailConvocatoria(jornada, $event)"
                                                    *ngIf="jornada.fecha > now.getTime()"
                                                    [matTooltip]="'Enviar mail convocatoria'">
                                                <mat-icon>mail</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row
                                        *matHeaderRowDef="displayedColumnsJornada; sticky:true"></mat-header-row>
                                    <mat-row *matRowDef="let jornada; columns: displayedColumnsJornada;"
                                             class="product" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>


                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
