<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'./users'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        account_circle
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                        *ngIf="pageType === 'edit'" fxHide fxShow.gt-sm>
                        {{user.nombre}} {{user.apellido}}
                    </span>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                        *ngIf="pageType === 'new'" fxHide fxShow.gt-sm>
                        Nuevo Usuario
                    </span>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!--  <button mat-raised-button
                    class="save-product-button"
                    [disabled]="userForm?.invalid"
                    *ngIf="pageType ==='new'" (click)="addUser()">
                <span>AGREGAR</span>
            </button> -->

            <button mat-raised-button class="save-product-button" [disabled]="userForm?.invalid || userForm?.pristine"
                *ngIf="pageType ==='edit'" (click)="saveUser()">
                <span>GRABAR</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content" *ngIf="userForm">

                <form name="userForm" [formGroup]="userForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <input name="token" formControlName="token" type="hidden">
                    <div class="tab-content p-24">

                        <div>
                            Email: {{user.email}}
                        </div>
                        <div>
                            <mat-form-field appearance="standard" class="w-100-p">
                                <mat-label>Modificar clave (6-8 caracteres)</mat-label>
                                <input matInput placeholder="Clave" name="clave" minlength="6" maxlength="8"
                                    formControlName="clave" type="password" required >
                            </mat-form-field>
                        </div>
                    </div>


                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>