<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/jornadas'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="logo mb-24 mb-md-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        home
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                          *ngIf="pageType === 'edit'" fxHide fxShow.gt-sm>
                        {{jornada.nombre}}
                    </span>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                          *ngIf="pageType === 'new'" fxHide fxShow.gt-sm>
                        Nueva jornada
                    </span>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="jornadaForm?.invalid"
                    *ngIf="pageType ==='new'" (click)="addjornada()">
                <span>AGREGAR</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="jornadaForm?.invalid || jornadaForm?.pristine"
                    *ngIf="pageType ==='edit'" (click)="savejornada()">
                <span>GRABAR</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content" *ngIf="jornadaForm">

                <form name="jornadaForm" [formGroup]="jornadaForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <input name="idjornada" formControlName="idjornada" type="hidden">
                    <mat-tab-group>
                        <mat-tab label="jornada">
                            <div class="tab-content p-24">
                                    <div fxLayout="row" class="tituloModal1" fxLayoutAlign="space-around center">
                                            <form class="w-100-p">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha" name="fecha"
                                                    formControlName="fecha"required>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                  </mat-form-field>
                                                  <button mat-raised-button (click)="picker.open()">Fechas</button>
                                            </form>
                                        </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Direccion</mat-label>
                                        <input matInput placeholder="Direccion"
                                               name="direccion"
                                               formControlName="direccion"
                                               required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="standard" class="w-100-p">
                                        <mat-label>Descripcion</mat-label>
                                        <input matInput placeholder="Descripcion"
                                               name="descripcion"
                                               formControlName="descripcion"
                                               required>
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>
                        <mat-tab label="Coordinadores">
                            <div class="tab-content p-24">
                                <button mat-fab class="add-event-button mat-accent" (click)="addCoordinador()" aria-label="Agregar Coordinador"
                                        [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <mat-table class="products-table"
                                           #table [dataSource]="dataSource"
                                           [@animateStagger]="{value:'50'}"
                                           fusePerfectScrollbar>
                                    <ng-container matColumnDef="nombre">
                                        <mat-header-cell *matHeaderCellDef >
                                            Nombre
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let coordinador">
                                            <p class="text-truncate">{{coordinador.nombre}}</p>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="apellido">
                                        <mat-header-cell *matHeaderCellDef  >
                                            Apellido
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let coordinador">
                                            <p class="text-truncate">{{coordinador.apellido}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                                    <mat-row *matRowDef="let coordinador; columns: displayedColumns;"
                                             class="product" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Voluntarios">
                                <div class="tab-content p-24">
                                    <button mat-fab class="add-event-button mat-accent" (click)="addVoluntario()" aria-label="Agregar Coordinador"
                                            [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <mat-table class="products-table"
                                               #table [dataSource]="dataSource"
                                               [@animateStagger]="{value:'30'}"
                                               fusePerfectScrollbar>
                                        <ng-container matColumnDef="nombre">
                                            <mat-header-cell *matHeaderCellDef >
                                                Nombre
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let voluntario">
                                                <p class="text-truncate">{{voluntario.nombre}}</p>
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="apellido">
                                            <mat-header-cell *matHeaderCellDef  >
                                                Apellido
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let voluntario">
                                                <p class="text-truncate">{{voluntario.apellido}}</p>
                                            </mat-cell>
                                        </ng-container>
    
                                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                                        <mat-row *matRowDef="let voluntario; columns: displayedColumns;"
                                                 class="product" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </mat-tab>
                        
                    </mat-tab-group>


                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
